@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Patua+One&display=swap");

/*começo estrutura de configuraçao*/

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Arial', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}


/*Classes responsivas, tentem adicionar tudo seguindo estas formatações.*/


/*e vão testando o que funciona e o que não funciona*/

body {
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

:root {
    --font-xl: clamp(3rem, 2vw + 0.2rem, 8rem);
    --font-md: clamp(1rem, 1.5vw + 0.1rem, 2rem);
}


/*nav bar*/

.navbar-nav a {
    font-family: poppins;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-brand {
    color: rgb(250, 130, 1);
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgb(250, 130, 1);
}

ul {
    list-style: none;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(16, 221, 253);
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: .2rem 1rem;
}

.nav-link.active,
.nav-link:focus {
    color: rgb(16, 221, 253);
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(247, 130, 4);
}


/*fim da nav bar*/


/*Conteúdo do Site*/

.container {
    width: 1200xp;
}

.container h1 {
    color: rgb(21, 19, 19);
    font-family: 'Arial', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 4rem 15rem 0rem 10rem;
    font-weight: 300px;
    font-size: var(--font-xl);
    line-height: 0.8;
    font-weight: bold;

}

.container h1 img {
    position: relative;
    width: 100%;
    text-align: center;
    right: 3.5vh;
    left: 6vh;
    bottom: 3.5vh;
}

.container p {
    text-align: justify;
    margin: 1rem 10rem;
    margin-top: 3.5vh;
    font-size: var(--font-md);
    text-indent: 50pt;
    top: 5vh;
}

.container h2 {
    margin-top: 20px;
    text-align: justify;
    margin: 1rem 10rem;
    font-size: var(--font-md);
}

.container p img {
    position: relative;
    width: 100%;
    bottom: 5vh;
}

/*Rodapé*/
footer {
    width: 100%;
    min-height: 250px;
    background: rgb(16, 221, 253);
    display: flex;
}

footer .boxs {
    width: 320px;
    min-height: 150px;
    padding: 20px;
    margin-left: 25px;
}

h2 {
    color: white;
    text-align: justify;
}

p {
    color: rgb(0, 0, 0);
}

span {
    color: #000;
}


/*Responsividade*/
@media(max-width: 500px) {/*Até 500 de largura os seletores abaixo estarão funcionando*/
    footer {
        flex-direction: column;
        width: 100%;
    }

    footer .boxs {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    h2{
        text-align: center;
    }
    
     :root {
        --font-xl: clamp(2rem, 2vw + 0.2rem, 8rem);
        --font-md: clamp(1.3rem, 1.5vw + 0.9rem, 1rem);
    }

    .container {
        width: 550px;
    }

    .container h1 {
        color: rgb(21, 19, 19);
        font-family: 'Arial', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin: 7rem 10rem -1.5rem 5rem;
        font-weight: 300px;
        font-size: 30px;
        line-height: 0.8;
        font-weight: bold;
        font-size: 35px;
    }

    .container h1 img {
        position: relative;
        width: 120%;
        text-align: center;
        font-size: 30px;
        right: 3.5vh;
        left: auto;
        bottom: 0vh;
    }

    .container p {
        text-align: justify;
        margin: 1rem 4rem;
        right: 5vh;
        font-size: var(--font-md);
        font-size: 23px;
        position: relative;
    }

    .container h2 {
        margin-top: 20px;
        text-align: justify;
        margin: 1rem 10rem 0rem 10rem;
        font-size: var(--font-md);
        font-size: 35px;
    }

    .container h2 img {
        position: relative;
        width: 100%;
    }

    .container p img {
        position: relative;
        width: 100%;
        top: 3vh;
    }
}
